<div class="container" style="text-align: center;">
    
    <img src="https://themillennialpinkbrokenheartsclubhome.files.wordpress.com/2018/12/cropped-untitled-design.png" alt="broken heart">
    <br>
    <h1>Page not found</h1>
    <button *ngIf="accountService.currentUser$ | async" class="btn btn-info btn-lg" routerLink='/members'>Return to members</button>
    <button *ngIf="(accountService.currentUser$ | async) === null" class="btn btn-info btn-lg" routerLink='/'>Return to home page</button>
</div>